[user]
pinned=/usr/share/applications/google-chrome.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/com.gexperts.Tilix.desktop;/usr/share/applications/org.xfce.mousepad.desktop
